<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ShoppingCart</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UpdatePhoneNum</display-name>
    <servlet-name>UpdatePhoneNum</servlet-name>
    <servlet-class>cartServlet.UpdatePhoneNum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePhoneNum</servlet-name>
    <url-pattern>/updatePhoneNum.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePhone</display-name>
    <servlet-name>DeletePhone</servlet-name>
    <servlet-class>cartServlet.DeletePhone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePhone</servlet-name>
    <url-pattern>/deletePhone.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClearCart</display-name>
    <servlet-name>ClearCart</servlet-name>
    <servlet-class>cartServlet.ClearCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearCart</servlet-name>
    <url-pattern>/clearCart.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCart</display-name>
    <servlet-name>ShowCart</servlet-name>
    <servlet-class>cartServlet.ShowCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCart</servlet-name>
    <url-pattern>/showCart.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddInCart</display-name>
    <servlet-name>AddInCart</servlet-name>
    <servlet-class>cartServlet.AddInCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInCart</servlet-name>
    <url-pattern>/addInCart.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>userServlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>userServlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>userServlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExistName</display-name>
    <servlet-name>ExistName</servlet-name>
    <servlet-class>userServlet.ExistName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExistName</servlet-name>
    <url-pattern>/existName.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePwd</display-name>
    <servlet-name>UpdatePwd</servlet-name>
    <servlet-class>userServlet.UpdatePwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePwd</servlet-name>
    <url-pattern>/updatePwd.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>userServlet.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/search.do</url-pattern>
  </servlet-mapping>
</web-app>